﻿@font-face {
    font-family: "Days-One";
    src: url(Fonts/DaysOne-Regular.ttf);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.carousel-div {
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 0.4;
    top: 50%;
    transform: translate(0, -50%);
}

.film-name {
    font-family: Days-One;
    font-size: 32px;

}

.film-genres {
    font-family: Days-One;
    font-size: 24px;    
}

.navbar {
    background-color: #ef4123;
    padding: 20px
}

.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
    color: white!important;
}

.navbar-brand:hover {
    color: black !important;
}

.navbar-nav li a {
    font-family: "Century Gothic";
    color: white !important;
    font-size: 20px
}

.navbar-nav li a:hover {
    color: black !important;
}

.login-name {
    font-size: 16px!important;
    color: #f9f0f1!important;
}

.book-now {
    float: right;
    margin-top: 5px;
}

.seats-row {
    display: flex;
    margin-bottom: 5px;
}
.seat {
    width: 20px;
    height: 20px;
    margin: 5px;

    border: solid 1px black;
    border-radius: 3px;
    background-color: darkgray;
}

/*.seat:hover {
    background-color: gray;
}*/

.booked {
    background-color: green;
}

.reserved {
    background-color: red;
}

.about-us, .contacts {
    font-family: "Century Gothic";
    font-size: 30px;
}

.about-us-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    color: red;
}

.about-us-content, .contacts-content{
    font-family: "Century Gothic";
    font-size: 24px;
}

.login-cinema, .register-cinema {
    margin-top: 50px;
}

#result {
    display: none;
    font-family: "Century Gothic";
    font-size: 24px;
    color: red;
}