﻿@model List<Cinema.WEB.ViewModels.FilmViewModel>

@{
    ViewBag.Title = "Cinema Booking";
}
@if (Model != null && Model.Count > 0)
{
    <div class="carousel-div">
        <div class="owl-carousel">
            @foreach (var film in Model)
            {
                if (film.Posters != null)
                {
                    <div>
                        <img src="@Url.Content("~/Content/Files/Images/Posters/" + film.Posters.FirstOrDefault())">
                        <span class="film-name">@film.Name</span>
                        <span class="film-genres">
                            @if (@film.Genres.Count > 0)
                            {
                                <text> (</text>
                                foreach (var genre in @film.Genres)
                                {
                                    @genre.Name;
                                    <text> </text>
                                }
                                <text>) </text>
                            }
                        </span>
                        @*<button class="btn btn-info btn-lg book-now">Book now</button>*@
                    </div>
                }
            }
        </div>
        <div class="navigation">
            <a href="" class="film-left">
                <img src="@Url.Content("~/Content/Images/arrow-left.png")" alt="left" />
            </a>
            <a href="" class="film-right">
                <img src="@Url.Content("~/Content/Images/arrow-right.png")" alt="right" />
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3">
        <div class="box-body">
            <h2>Film Booking</h2>
            <div class="form-group">
                <label>Choose date</label>
                <div class="form-group">
                    <div class="input-group date">
                        <input type="text" class="form-control" id="datepicker1"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Choose film</label>
                <select class="form-control" id="film-select"></select>
            </div>
            <div class="form-group">
                <label>Choose Time</label>
                <select class="form-control" id="time-select"></select>
            </div>
            <div class="form-group" id="cinema-room">
                @for (var i = 1; i <= 8; i++)
                {
                    <div class="seats-row">
                        @for (var j = 1; j <= 8; j++)
                        {
                            <a href="" class="seat" id="@i@j"></a>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="book-seats">Book</button>
        </div>
        <p id="result">Your tickets are booked.</p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/scripts/datepicker.min.js")
}



