﻿@using Cinema.WEB.Helpers
@model Cinema.WEB.ViewModels.ScheduleViewModelCreate

@{
    ViewBag.Title = "Cinema";
    ViewBag.TitleSmall = "Version 0.5";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", "", "fa-dashboard")
    });
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    
    @Styles.Render("~/Content/datepicker-air.css")
    
    <title>Index</title>
</head>
<body>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add new schedule</h3>
                </div>
                @using (Html.BeginForm("Add", "Schedule", FormMethod.Post))
                {
                    <div class="box-body">
                        <div class="form-group">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="from" name="from"/>
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="to" name="to"/>
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <br/>
                            <input type="time" name="time[]"/>Add Time<br /><br />
                            <select class="form-control" name="film[]">
                                if (@ViewBag.currentFilms != null)
                                {
                                @foreach (var film in @ViewBag.currentFilms)
                                {
                                    <option value="@film.Id">@film.Name</option>
                                }
                                }
                            </select><br /><br />
                            <input type="time" name="time[]"/>Add Time<br/><br/>
                            <select class="form-control" name="film[]">
                                if (@ViewBag.currentFilms != null)
                                {
                                @foreach (var film in @ViewBag.currentFilms)
                                {
                                    <option value="@film.Id">@film.Name</option>
                                }
                                }
                            </select><br /><br />
                            <input type="time" name="time[]"/>Add Time<br /><br />
                            <select class="form-control" name="film[]">
                                if (@ViewBag.currentFilms != null)
                                {
                                @foreach (var film in @ViewBag.currentFilms)
                                {
                                    <option value="@film.Id">@film.Name</option>
                                }
                                }
                            </select><br /><br />
                            <input type="time" name="time[]"/>Add Time<br /><br />
                            <select class="form-control" name="film[]">
                                if (@ViewBag.currentFilms != null)
                                {
                                @foreach (var film in @ViewBag.currentFilms)
                                {
                                    <option value="@film.Id">@film.Name</option>
                                }
                                }
                            </select><br /><br />
                            <input type="time" name="time[]"/>Add Time<br /><br />
                            <select class="form-control" name="film[]">
                                if (@ViewBag.currentFilms != null)
                                {
                                @foreach (var film in @ViewBag.currentFilms)
                                {
                                    <option value="@film.Id">@film.Name</option>
                                }
                                }
                            </select><br /><br />
                            <input type="time" name="time[]"/>Add Time<br /><br />
                            <select class="form-control" name="film[]">
                                if (@ViewBag.currentFilms != null)
                                {
                                @foreach (var film in @ViewBag.currentFilms)
                                {
                                    <option value="@film.Id">@film.Name</option>
                                }
                                }
                            </select><br /><br />
                        </div>
                        <div class="box-primary">
                            <button type="submit" class="btn btn-primary">Add Schedule</button>
                        </div>
                    </div>
                }
            </div>
            @*<div id="timelaps">

            </div>*@
        </div>

    </div>
</section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/datepicker.min.js")
    @Scripts.Render("~/scripts/admin.js")
</body>
</html>
