﻿@*@model Cinema.WEB.ViewModels.ScheduleViewModel*@
@model IEnumerable<Cinema.WEB.ViewModels.SessionViewModel>

@{
    ViewBag.Title = "Cinema";
    ViewBag.TitleSmall = "Version 0.5";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", "", "fa-dashboard")
    });
}

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                @{ Html.BeginForm("index", "Schedule", FormMethod.Get);}
                <div class="box-body">
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right datepicker" id="datepicker" name="date">
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                @{Html.EndForm();}
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable">
                                    <thead>
                                    <tr role="row">
                                        <th tabindex="0" rowspan="1" colspan="1" aria-label="Time">Time</th>
                                        <th tabindex="0" rowspan="1" colspan="1" aria-label="Film">Film</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var session in Model)
                                    {
                                        <tr role="row">
                                            <td>@session.Time.ToShortTimeString()</td>
                                            <td>@session.FilmViewModel.Name</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/scripts/datepicker.js")