﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Welcome to Cinema</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/slick.css")
    @Styles.Render("~/Content/datepicker-air.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cinema", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#about" id="link-about">About</a></li>
                    <li><a href="#contacts" id="link-contacts">Contacts</a></li>
                    <li>@Html.Partial("../Partial/_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="about-us" id="about">About us</p>
            <span class="about-us-title">Cinema&nbsp;&nbsp;</span>
            <span class="about-us-content"> is the most popular movie house in Kremenchuk. You can book tickets online or in our ticket office on "Sobornaya ulitsa, building 123"</span>
            <div class="slick-carousel-about">
                <div>
                    <img src="@Url.Content("~/Content/Images/cinema-slider01.jpg")" alt="Cinema">
                </div>
                <div>
                    <img src="@Url.Content("~/Content/Images/cinema-slider02.jpg")" alt="Cinema">
                </div>
                <div>
                    <img src="@Url.Content("~/Content/Images/cinema-slider03.jpg")" alt="Cinema">
                </div>
                <div>
                    <img src="@Url.Content("~/Content/Images/cinema-slider04.jpg")" alt="Cinema">
                </div>
                <div>
                    <img src="@Url.Content("~/Content/Images/cinema-slider05.jpg")" alt="Cinema">
                </div>
            </div>

            <p class="contacts" id="contacts">Our contacts:</p>
            <span class="contacts-content">Ukraine, Kremenchuk</span><br/>
            <span class="contacts-content">vulitsa Soborna, building 123</span><br/>
            <span class="contacts-content">Phone: +380615741547</span><br/>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d653.5356266580636!2d33.40795817848573!3d49.06492580372811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1488531936740" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/owl")
    @Scripts.Render("~/scripts/slick.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)
</body>
</html>
