﻿@using Cinema.BLL.Services
@using Cinema.WEB.Helpers
@model Cinema.WEB.ViewModels.FilmViewModel
@{
    ViewBag.Title = "Cinema";
    ViewBag.TitleSmall = "Version 0.5";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", "", "fa-dashboard")
    });
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add new film</h3>
                </div>
                @using (Html.BeginForm("Add", "Films", FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, "Film name")
                            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", @placeholder = "Enter film name.."}})
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, "Date From")
                            @Html.CreateDatePicker(model => model.StartDate)
                            @Html.ValidationMessageFor(model => model.StartDate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FinishDate, "Date To")
                            @Html.CreateDatePicker(model => model.FinishDate)
                            @Html.ValidationMessageFor(model => model.FinishDate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FinishDate, "Duration")
                            @Html.EditorFor(model => model.Duration, new {htmlAttributes = new {@class = "form-control", @placeholder = "Enter film duration.."}})
                            @Html.ValidationMessageFor(model => model.Duration)
                        </div>
                        <div class="form-group">
                            @Html.Label("Poster")
                            <div class="form-control">
                                <input type="file" name="uploadImage"/>
                            </div>
                            <div class="has-error">@ViewBag.ImageErrorMessage</div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Select genres:")
                            <br/>
                            @if (ViewBag.Genres != null)
                            {
                                foreach (var genre in ViewBag.Genres)
                                {
                                    <input type="checkbox" name="selectedGenres" value="@genre.Id"/>@genre.Name<br/>
                                }
                            }
                        </div>
                        <div class="box-primary">
                            <button type="submit" class="btn btn-primary">Add Film</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
    @Scripts.Render("~/scripts/datepicker.js")
</body>
</html>
