﻿@model IEnumerable<Cinema.WEB.ViewModels.FilmViewModel>
@{
    ViewBag.Title = "Cinema";
    ViewBag.TitleSmall = "Version 0.5";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", "", "fa-dashboard")
    });
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Films Table</h3>
                </div>
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" rowspan="1" colspan="1" aria-label="Film Name">Film</th>
                                            <th tabindex="0" rowspan="1" colspan="1" aria-label="Duration">Duration</th>
                                            <th tabindex="0" rowspan="1" colspan="1" aria-label="Start Date">Start Date</th>
                                            <th tabindex="0" rowspan="1" colspan="1" aria-label="Finish Date">Finish Date</th>
                                            <th tabindex="0" rowspan="1" colspan="1" aria-label="Genres">Genres</th>
                                            <th tabindex="0" rowspan="1" colspan="1" aria-label="Edit">Edit</th>
                                            <th tabindex="0" rowspan="1" colspan="1" aria-label="Delete">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var film in Model)
                                        {
                                            <tr role="row">
                                                <td>@film.Name</td>
                                                <td>@film.Duration</td>
                                                <td>@film.StartDate</td>
                                                <td>@film.FinishDate</td>
                                                <td>@foreach (var genre in film.Genres)
                                                    {
                                                        @genre.Name
                                                        <br/>
                                                    }</td>
                                                <td><input type="button" value="Edit" onclick="location.href = '@Url.RouteUrl("Admin_default", new {Controller = "Films", Action = "Edit", id = @film.Id})'" /></td>
                                                <td><input type="button" value="Delete" onclick="location.href = '@Url.RouteUrl("Admin_default", new {Controller = "Films", Action = "Delete", id = @film.Id})'"/></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
</body>
</html>
