﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>
        @ViewBag.Title - Cinema Administration
    </title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/datepicker-air.css")*@
    @RenderSection("Styles", false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
@*@Html.Partial("_LoginPartial")*@
<body class="skin-blue">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="@Url.Content("~")" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            Cinema
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- Tasks: style can be found in dropdown.less -->
                    <!-- User Account: style can be found in dropdown.less -->
                    @Html.Partial("../Partial/_LoginPartial")
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bar-char"></i> <span>Films</span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("Index", "Films")">
                                    <i class="fa fa-dashboard"></i> <span>Films</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Add", "Films")">
                                    <i class="fa fa-dashboard"></i> <span>Add Film</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bar-char"></i> <span>Genres</span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("Index", "Genres")">
                                    <i class="fa fa-dashboard"></i> <span>Genres</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Add", "Genres")">
                                    <i class="fa fa-dashboard"></i> <span>Add Genre</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bar-char"></i> <span>Schedule</span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("Index", "Schedule")">
                                    <i class="fa fa-dashboard"></i> <span>View Schedule by date</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Add", "Schedule")">
                                    <i class="fa fa-dashboard"></i> <span>Add Schedule</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>Central administration</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="@Url.Content("~")"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <!-- Main content -->
            @RenderBody()
            <!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
    <!-- add new calendar event modal -->
    <!-- jQuery 2.1.1 + Jquery UI 1.10.4 -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/custom")*@
    @Scripts.Render("~/bundles/AdminLTE")
    @*@Scripts.Render("~/scripts/datepicker.js")*@
    @Scripts.Render("~/scripts/datepicker.min.js")
    @Scripts.Render("~/scripts/date.js")
    @Scripts.Render("~/scripts/ru-Ru.js")
    @RenderSection("Scripts", false)

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="../../Content/AdminLTE/js/AdminLTE/dashboard.js" type="text/javascript"></script>*@
    <!-- AdminLTE for demo purposes -->
    @*<script src="../../Content/AdminLTE/js/AdminLTE/demo.js" type="text/javascript"></script>*@
</body>
</html>
