﻿
@{
    Layout = null;
    ViewBag.Title = "Окончание регистрации";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessRegister</title>
</head>
<body>
<div>
    <h2>Вы были успешно зарегистрированы. Используйте свой адрес электронной почты и пароль для входа на сайт</h2>

</div>
</body>
</html>
