﻿@model Cinema.WEB.ViewModels.GenreCreateViewModel
@{
    ViewBag.Title = "Cinema";
    ViewBag.TitleSmall = "Version 0.5";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", "", "fa-dashboard")
    });
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add new genre</h3>
                    </div>
                    @using (Html.BeginForm("Add", "Genres", FormMethod.Post))
                    {
                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, "Genre")
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter genre.." } })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="box-primary">
                                <button type="submit" class="btn btn-primary">Add Genre</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</body>
</html>
