﻿@model IEnumerable<Cinema.WEB.ViewModels.GenreViewModel>
@{
    ViewBag.Title = "Cinema";
    ViewBag.TitleSmall = "Version 0.5";

    ViewBag.Breadcrumb = new Breadcrumb(new Crumb[] {
        new Crumb("Dashboard", "", "fa-dashboard")
    });
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Genres Table</h3>
                </div>
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable">
                                    <thead>
                                    <tr role="row">
                                        <th tabindex="0" rowspan="1" colspan="1" aria-label="Genre Name">Genre</th>
                                        <th tabindex="0" rowspan="1" colspan="1" aria-label="Genre Edit">Edit</th>
                                        <th tabindex="0" rowspan="1" colspan="1" aria-label="Genre Delete">Delete</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var genre in Model)
                                        {
                                            <tr role="row">
                                                <td>@genre.Name</td>
                                                <td><input type="button" value="Edit" onclick="location.href = '@Url.RouteUrl("Admin_default", new {Controller = "Genres", Action = "Edit", id = @genre.Id})'"/></td>
                                                <td><input type="button" value="Delete" onclick="location.href = '@Url.RouteUrl("Admin_default", new {Controller = "Genres", Action="Delete", id = @genre.Id})'" /></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
</body>
</html>
